/* 1. IMPORTAZIONE FONT */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* 2. STILI GENERALI */
body {
    background-image: url("download (4).jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    
    
    font-family: 'Great Vibes', cursive;
    font-size: 28px; 
    color: rgb(0, 255, 0); 
    text-align: center;
    
    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

/* 3. SEZIONE EVENTI */
#event {
    border: 3px solid yellow; 
    background-image: url("pyton.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
    margin: 20px 100px; /* Sopra/Sotto 20px, Destra/Sinistra 100px */
    padding: 20px;
    
    color: yellow;
  
    font-size: 35px;
}

/* 4. TITOLI */
h2 {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 10px 40px;
    font-size: 50px; 
}

/* 5. OROLOGIO (Stile Digitale vs Calligrafico) */
#clock {
    
    font-family: 'Courier New', Courier, monospace; 
    background: yellow;
    color: red; 
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 24px;
    display: inline-block;
    min-width: 150px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    margin: 10px;
}