body{

 background-image: url(cuoreDoc.jpg);

 background-repeat: no-repeat;

 background-attachment: fixed;

 background-size: cover;

 background-position: center;

 text-align: center;

}

#visit{

     background-color: #F0F0F0;
    border-radius: 25px;
    border: 2px solid black;
    margin-left: 35%;
    margin-right: 35%;
    

}

#specific_title{

     background-color: #F0F0F0;
    border-radius: 25px;
    border: 2px solid black;
    margin-left: 35%;
    margin-right: 35%;
    


}

#specific{

     background-color: #F0F0F0;
    border-radius: 25px;
    border: 2px solid black;
    margin-left: 35%;
    margin-right: 35%;
    


}

#doctor{


    background-color: #F0F0F0;
    border-radius: 25px;
    border: 2px solid black;
    margin-left: 35%;
    margin-right: 35%;

}
#doctor, #specific {
    display: none; /* Nasconde i div all'inizio */
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
}
